
body {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: 1.42;
    margin: 0 auto;
    color: #666666;
}

body,
html {
    height: 100%;
    font-size: $baseFontSize;
}

.wraper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
 
}

a {
    color: inherit;
}


footer {
    margin-top: auto;
}


ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 960px;
    position: relative;
    padding: 0 10px;
}


img{
    display: block;
    width: 100%;
}



.maincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

