.advantages-section {
    position: relative;
    height: 100vh;

    &:before {
        content: url('../images/decor/triangle.png');
        position: absolute;
        left: 10%;
        bottom: rem(-25px);
    }
}