.advantages {
    display: flex;
    // padding: 0 rem(82px);

    @include phones {
        flex-direction: column;
    }

}

.advantages__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include tablets {
        padding: 0 1%;

    }

    @include phones {
        margin-bottom: rem(25px);
        display: flex;
        padding: 0;

    }


    &:before {
        content: url('../images/decor/dots.png');
        position: absolute;
        top: rem(55px);
        right: 0;
        transform: translateX(50%);

        @include phones {
            display: none;
        }

        @include tablets {
            display: none;
        }

    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

.advantage__title {
    font-weight: bold;
    color: #292929;


    // @include tablets {
        font-size: 24px;

    //     font-size: rem(24px);
    // }

    @include phones {
        padding: 0 rem(16px);
        // font-size: rem(24px);
        font-size: 24px;

    }

}

.advantage {
    text-align: center;
}

.advantage__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.advantage__icon {
    height: rem(68px);
    width: rem(68px);
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
}

.advantage__desc {
    padding: 0 rem(16px);
    font-size: rem(16px);

    @include tablets {
        padding: 0;
    }

    @include phones{
        padding: 0 rem(16px);
    }

}

.advantage__image {
    margin-bottom: rem(25px);

    @include phones {
        margin-bottom: 0;
    }
}

.advantage__text {
    @include phones {
        text-align: left;

    }
}