.advantages-section {
    position: relative;
    // height: 100vh;

    @include tablets{
        min-height: 1000px;

    }


    &:before {
        content: url('../images/decor/triangle.png');
        position: absolute;
        left: 10%;
        bottom: rem(-25px);
    }
}