.button {
    border-radius: rem(35px);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: rem(14px);
    padding:  rem(21px) rem(47px);
    border: none;

    &_style_common {
        background: $red;
        color: #fff;
        &:hover{
            background: $redHover;
            color: #fff;
            transition: .5s;
        }
    }
   

    &_style_uncommon {
        color: #fff;
        background: transparent;
        text-transform: none;
        font-weight: normal;

        @include tablets{
            color:#E01F3D;
        }
    }

}

.form__button{
    cursor: pointer;
}