.delivery-section {
    position: relative;
    color: #fff;
    background: #181818;
    background-image: url('../images/decor/black.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;

    &:before {
        content: url('../images/decor/polygon.png');
        position: absolute;
        left: 90%;
        top: -25px;
    }

}
