.delivery-section {
    position: relative;
    color: #fff;
    background: #181818;
    background-image: url('../images/decor/black.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    min-height: rem(652px);
    // height: 100vh;
    flex: 1;

    @include tablets{
        padding-top: rem(25px);
    padding-bottom: rem(70px);
    margin-bottom: rem(10px);
    }


    &:before {
        content: url('../images/decor/polygon.png');
        position: absolute;
        left: 90%;
        top: rem(-25px);
    }

}
