.delivery-section {
    position: relative;
    color: #fff;
    background: #181818;

    &:before {
        content: url('../images/decor/polygon.png');
        position: absolute;
        left: 90%;
        top: -25px;
    }

}

// .delivery__container {
//     background: #181818;
// }