.features {
    display: flex;
    align-items: start;
    width: 55%;

}

.feature {
    display: flex;
    align-items: center;
    width: rem(166px);
    // flex: 1;
}


.feature__text {
    padding: rem(11px);
    line-height: 1.1;
    font-size: rem(16px);

}

.feature__icon {
    flex-shrink: 0;
}

.feature__img {
    max-width: 41px;
    max-height: 41px;
}