.bottom-section {
    height: 100vh;
    // min-height: rem(652px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.map {
    position: absolute;
    // width: 100%;

}

.footer {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: rem(80px);
    background: #fff;

}

// .map__img{
//     @include phones {
//         // position: absolute;
//         min-height: 100%;
//         // width: 100%;
//     }
// }

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: rem(15px);

    @include phones {
        flex-direction: column;
    }

}

.contacts-info {
    color: #292929;

    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(19px);
    }
}

.adress {

    @include tablets{
        font-size: rem(21px);
    }

    @include phones {
        margin-bottom: rem(12px);
    }


}

.footer__contacts {

    @include tablets {
        color: #E01F3D;
    }

    @include phones {
        color: #292929;
    }
}

.contacts__icon-img_footer {
    fill: #292929;

    @include tablets {
        fill: #E01F3D;
    }

    @include phones {
        fill: #292929;

    }

}

