.bottom__section{
    max-height: 100vh;
}

.map {
    margin-bottom: rem(15px);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: rem(15px);

    @include phones {
        flex-direction: column;
    }

}

.contacts-info {
    color: #292929;

    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(19px);
    }
}

.adress{
    margin-bottom: rem(12px);
}

.footer__contacts {

    @include tablets {
        color: #E01F3D;
    }

    @include phones {
        color: #292929;
    }
}

.contacts__icon-img_footer {
    fill: #292929;

    @include tablets {
        fill: #E01F3D;
    }
@include phones{
    fill: #292929;

}

}