.bottom-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.map {
    width: 100%;
    height: 100%;

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;

    }

}



.footer {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(87px);
    background: #fff;


    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        @include phones {
            flex-direction: column;
        }

    }

    @include tablets {
        height: rem(107px);
    }

    @include phones {
        height: rem(151px);

    }


}




.contacts-info {
    color: #292929;

    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(19px);
    }
}

.adress {

    @include tablets {
        font-size: rem(21px);
    }

    @include phones {
        margin-bottom: rem(12px);
    }


}

.footer__contacts {

    @include tablets {
        color: #E01F3D;
    }

    @include phones {
        color: #292929;
    }
}

.contacts__icon-img_footer {
    fill: #292929;

    @include tablets {
        fill: #E01F3D;
    }

    @include phones {
        fill: #292929;

    }

}