.form {
    display: flex;
    font-size: rem(16px);
    // padding: 0 rem(82px);

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(11px);
    // flex-wrap: wrap;
    // flex-grow: 4;
    // flex-basis: 125px;
    

}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    // flex-shrink: 1;
    // flex-basis: 106px;


    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);
    height: rem(58px);

    &_textarea {
        height: rem(152px);
        width: rem(450px);
        width: 100%;
        resize: none;
        border: solid rem(3px) transparent;
        border-radius: rem(4px);
        padding: rem(10px) 0 0 rem(10px);

        &:focus {
            border-color: #E01F3D;
            outline: 0;
        }

    }

    &:focus {
        border-color: #E01F3D;
        outline: 0;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(19px);

    @include phones {
        justify-content: center;
    }
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    padding: 1px;

    &_checkbox {
        margin-bottom: rem(27px);

        .radio__visible {
            border-radius: rem(4px);


            &::before {

                background: url('../images/decor/bird.png') center center no-repeat;

            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked~.radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);


    &:before {
        content: '';
        width: rem(14px);
        height: rem(14px);
        background: $red;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

.radio__title {
    margin-right: rem(16px);

}

.form__block-comment {
    margin-bottom: rem(27px);
}


.form__title {
    margin-bottom: rem(3px);
}

.form__buttons {
    display: flex;
    justify-content: center;
}