.header {
    display: flex;
    align-items: flex-start;
    min-height: rem(30px);
    justify-content: space-between;
    margin-bottom: rem(40px);

    @include tablets{
        margin-bottom: rem(144px);
    }

    @include phones{
        margin-bottom: rem(80px);

    }

}

.logo {
    margin-right: rem(20px);
    flex-shrink: 0;
}

.logo__img {
    width: rem(40px);
    height: rem(40px);
}

.contacts {
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.contacts__icon-img {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}


.contacts__icon {
    flex-shrink: 0;
}

.general-menu {
    font-size: $baseFontSize;
    font-family: $secondaryFontFamily;
    margin: 0 rem(20px);

    @include tablets {
        display: none;
    }
}

.general-menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.general-menu__item {
    margin-right: rem(35px);
    margin-bottom: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.general-menu__link {
    text-decoration: none;
    white-space: nowrap;
}



.contacts.header__contacts {
    @include tablets {
        display: none;
    }
}