$baseFontSize: 18px;


.header {
    display: flex;
    align-items: center;
    min-height: 30px;
    justify-content: space-between;
}

.logo {
    margin-right: 20px;
}

.contacts {
    // margin-left: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts__icon-img {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.general-menu {
    font-size: $baseFontSize;
    font-family: $secondaryFontFamily;
}

.general-menu__list {
    display: flex;
    align-items: center;
}

.general-menu__item {
    margin-right: 35px;
    &:last-child{
        margin-right: 0;
    }
}

.general-menu__link {
    text-decoration: none;
}