.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: rem(50px);

    @include phones{
    margin-bottom: rem(53px);

    }


}


.headline__title {
    padding: 0 rem(1px);
}

.headline__subtitle {
    width: 50%;
    // padding: 0 rem(288px);
    font-size: rem(16px);

    @include tablets {

        width: 80%;

    }

    @include phones {
        width: 100%;
        padding: 0 rem(15px);
    }

}