.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    z-index: 1000;
}


.fullscreen-menu {
    color: #fff;
    position: relative;


}


.fullscreen-menu__close {
    position: absolute;
    right: 0;
    margin: rem(42px) rem(42px) 0 0;

    .close__img {
        width: rem(20px);
        height: rem(20px);
    }
}



.general-menu_hidden {
    padding: rem(135px) 0;
    height: 100vh;


    .general-menu__list {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        font-size: rem(36px);
        font-family: $baseFontFamily;
        flex-wrap: nowrap;

        .general-menu__item {

            margin: 0;
        }
    }
}