.interactive-avatar {
    width: rem(74px);
    height: rem(74px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &_active {
        border-color: $red;
    }

    &:hover{
        border-color: $red;
        transition: 0.5s;

    }
}

// .interactive-avatar__link{
// position: absolute;
// top:0;
// right:0;
// bottom: 0;
// left:0;
// }

// .interactive-avatar__img{
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
.reviews__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
}