.interactive-avatar {
    width: rem(74px);
    height: rem(74px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &_active {
        border-color: $red;
    }

    &:hover {
        border-color: $red;
        transition: 0.5s;

    }
}

.reviews__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}