.reviews__list {
    min-height: rem(280px);
    background: #F8FAF9;

}

.reviews__item {
    display: flex;
    padding: rem(42px);
    overflow: hidden;
    position: absolute;
    margin-bottom: rem(15px);
    opacity: 0;

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


    &:before {
        content: '';
        display: block;
        background: #ffffff;
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(52px);

        @include tablets {
            content: none;
        }
    }
}

.reviews__item.review_active {
    position: static;
    opacity: 1;
}

.section__title_review {
    margin-bottom: rem(42px);
}

.review__avatar {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(40px);
    }
}

.review__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review__content {
    flex: 1;
    margin-left: rem(40px);
    font-size: rem(16px);
    align-items: center;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 0;
    }
}

.review__title {
    font-size: rem(24px);
    font-weight: bold;
    color: #292929;
    margin-bottom: rem(27px);

    @include tablets {
        margin-bottom: 0;

    }

}

.review__desc {
    margin-bottom: rem(38px);
    width: 80%;

    @include tablets {
        width: 100%;
        margin-bottom: 0;
    }
}

.review__username {
    font-weight: bold;
    color: #292929;
    font-size: $baseFontSize;

    @include phones {
        font-weight: normal;
    }
}