.reviews-section {
    position: relative;
    // height: 100vh;
    padding-top: rem(25px);
    padding-bottom: rem(70px);


    &:before {
        content: url('../images/decor/ellipse.png');
        position: absolute;
        left: 10%;
        bottom: rem(-25px);

    }
}