.reviews__display {
    background: #F8FAF9;
    display: flex;
    padding: rem(42px);
    overflow: hidden;
    position: relative;
    margin-bottom: rem(15px);

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


    &:before {
        content: '';
        display: block;
        background: #ffffff;
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-60px);
    }
}

.review__avatar {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
    }
}

.review__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review__content {
    flex: 1;
    margin-left: rem(40px);
    font-size: rem(16px);
    align-items: center;

    @include tablets {
        margin-left: 0;
    }
}

.review__title {
    font-size: rem(24px);
    font-weight: bold;
    color: #292929;
    margin-bottom: rem(27px);
}

.review__desc {
    margin-bottom: rem(38px);
    width: 80%;

    @include tablets {
        width: 100%;
    }
}

.review__username {
    font-weight: bold;
    color: #292929;
    font-size: $baseFontSize;
}