.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(700px);

    @include tablets {
        min-height: 950px;

    }

   
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(26px);
    text-align: center;
    text-transform: uppercase;
    color: #292929;

    @include phones {
        font-size: rem(32px);
    margin-bottom: rem(11px);


    }
}